/* welcome.css */
body {
    display: flex;
    flex-direction: column; /* Para apilar el contenido verticalmente */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    font-family: 'Arial', sans-serif; /* Cambia a la fuente deseada */
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5rem; /* Tamaño de fuente más grande */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra de texto */
}

button {
    margin: 10px;
    padding: 12px 24px; /* Aumenta el tamaño del botón */
    font-size: 1.2rem; /* Tamaño de fuente más grande */
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    transition: background-color 0.3s, transform 0.2s; /* Transición en el tamaño */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra para efecto de profundidad */
}

button:hover {
    background-color: #2980b9;
    transform: translateY(-2px); /* Eleva el botón al pasar el ratón */
}

button:active {
    transform: translateY(0); /* Regresa a la posición original al hacer clic */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Reduce la sombra al hacer clic */
}

.welcome-text,
.title-text,
.game-text {
    margin-bottom: 15px; /* Aumenta la separación entre líneas */
}

.title-text {
    font-size: 3rem; /* Aumenta el tamaño de la fuente */
    font-weight: bold; /* Mantiene el texto en negrita */
    color: #f39c12; /* Cambia el color a un naranja brillante */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Añade una sombra al texto para un efecto 3D */
    letter-spacing: 2px; /* Espaciado entre letras para un efecto más abierto */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
}

/* Estilos para el botón de música */
.music-button {
    position: fixed; /* Posición fija en la esquina */
    bottom: 20px; /* Separado del fondo */
    right: 20px; /* Separado del lado derecho */
    width: 50px;
    height: 50px;
    background-color: #3498db;
    color: white; /* Color del ícono */
    border: none;
    border-radius: 50%; /* Forma redonda */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  
  .music-button:hover {
    background-color: #2980b9; /* Cambio de color al pasar el mouse */
  }
  
  .music-button:active {
    background-color: #3498db; /* Cambio al presionar */
  }
  
  #icon {
    font-size: 24px; /* Tamaño del ícono */
  }
  

/* Responsive Styles */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem; /* Reduce el tamaño del título en pantallas pequeñas */
    }

    button {
        padding: 10px 20px; /* Reduce el tamaño del botón */
        font-size: 1rem; /* Tamaño de fuente más pequeño */
    }

    .title-text {
        font-size: 2.5rem; /* Reduce el tamaño de la fuente del título */
    }

    .welcome-text,
    .game-text {
        font-size: 1.2rem; /* Ajusta el tamaño de la fuente para texto secundario */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem; /* Reduce aún más el tamaño del título en pantallas muy pequeñas */
    }

    button {
        padding: 8px 16px; /* Aumenta aún más el tamaño del botón */
        font-size: 0.9rem; /* Tamaño de fuente más pequeño */
    }

    .title-text {
        font-size: 2rem; /* Reduce el tamaño de la fuente del título */
    }

    .welcome-text,
    .game-text {
        font-size: 1rem; /* Ajusta el tamaño de la fuente para texto secundario */
    }
}
  
 